.main
  .main__header
    .left__box
      .left__box__current-box
        = @group.name
      .left__box__member-list
        Member:
        .left__box__member-list__member
          - @group.users.each do |user|
            = user.name
    .edit-btn
      Edit
  .message
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'form-imagefile'
      = f.submit 'Send', class: 'send-box'

